/*font-family: 'Dosis', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Bree Serif', serif;*/


body {
  background-color: white;
  font-family: 'Nunito', sans-serif;
}

h1, h2 {
  text-align: center; 
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
  font-family: 'Bree Serif', serif;
  justify-content: space-around;
}

li {
  margin: 1em;
}
